.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

form {
  border: none;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.animal {
  margin: 0px;
  padding: 0px;
  border: none;
  display: flex;
  cursor: pointer;
  flex-direction: column;
  color: rgb(223, 76, 91);
  font-size: 1.5rem;
  font-family: 'system-ui';
  background-color: #fbf9fe;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='32' viewBox='0 0 16 32'%3E%3Cg fill='%23ffd9d9' fill-opacity='0.4'%3E%3Cpath fill-rule='evenodd' d='M0 24h4v2H0v-2zm0 4h6v2H0v-2zm0-8h2v2H0v-2zM0 0h4v2H0V0zm0 4h2v2H0V4zm16 20h-6v2h6v-2zm0 4H8v2h8v-2zm0-8h-4v2h4v-2zm0-20h-6v2h6V0zm0 4h-4v2h4V4zm-2 12h2v2h-2v-2zm0-8h2v2h-2V8zM2 8h10v2H2V8zm0 8h10v2H2v-2zm-2-4h14v2H0v-2zm4-8h6v2H4V4zm0 16h6v2H4v-2zM6 0h2v2H6V0zm0 24h2v2H6v-2z'/%3E%3C/g%3E%3C/svg%3E");
}

.form-styling {
  margin: 0px;
  border: none;
  padding: 100px;
  display: flex;
  flex-direction: space-between;
  align-items: center;
  font-family: 'system-ui';
  color: rgb(65, 62, 62);
  cursor: pointer;
}



.select-styling {
  margin: 0px;
  border: none;
  padding: 3px;
  display: flex;
  flex-direction: space-between;
  align-items: center;
  font-family: 'georgia';
  color: rgb(65, 62, 62);
}


.btn {
  background-color: rgb(223, 76, 91);
  color: white;
  position: relative;
  font-size: 14px;
  margin-left: 20px;
  letter-spacing: 3px;
  height: 2.5em;
  padding: 0 0.8em;
  border: none;
  color: #fff;
  text-transform: uppercase;
  overflow: hidden;
  border-radius: 5px;
  cursor: pointer;


}

.h4 {
  font-family: 'system-ui';
  color: rgb(65, 62, 62);
  align-items: center;
  margin-top: 30px;
  background: linear-gradient(50deg, rgb(232, 227, 229) 20%, rgb(223, 76, 91) 100%);
}
.imageProfile {
  border-radius: 50%;
  object-fit: cover;
  width: 150px;
  height: 150px;
}
.imageProfileNav {
  border-radius: 50%;
  object-fit: cover;
  width: 120px;
  height: 120px;
}