body {
  background-color: #fbf9fe;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='32' viewBox='0 0 16 32'%3E%3Cg fill='%23ffd9d9' fill-opacity='0.4'%3E%3Cpath fill-rule='evenodd' d='M0 24h4v2H0v-2zm0 4h6v2H0v-2zm0-8h2v2H0v-2zM0 0h4v2H0V0zm0 4h2v2H0V4zm16 20h-6v2h6v-2zm0 4H8v2h8v-2zm0-8h-4v2h4v-2zm0-20h-6v2h6V0zm0 4h-4v2h4V4zm-2 12h2v2h-2v-2zm0-8h2v2h-2V8zM2 8h10v2H2V8zm0 8h10v2H2v-2zm-2-4h14v2H0v-2zm4-8h6v2H4V4zm0 16h6v2H4v-2zM6 0h2v2H6V0zm0 24h2v2H6v-2z'/%3E%3C/g%3E%3C/svg%3E");
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: sans-serif;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-family: sans-serif;
  color: rgb(79, 45, 45);
}

img {
  border-radius: 8px;
  border: 1px;
  width: 70%;
  max-width: 100%;
}

.image {
  margin: 1%;
  position: relative;
}

.logo {
  max-width: 100%;
  width: 20%;
}
.text {
  position: absolute;
  top: 60px;
  left: 400px;
  background-color: rgb(246, 209, 209);
}

.loginstyle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;
  margin: 10px;
  padding: 10px;
}
.signupstyle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;
  margin: 10px;
  padding: 10px;
}

li {
  list-style-type: none;
}

.footerlogo {
  display: flex;
  max-width: 100%;
  width: 10%;
  justify-content: center;
}

.footercontainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;

  margin: 10px;
}
